

<div style="text-align: center">
<button style="cursor:pointer" (click) ="irAgregar()" >+</button>
</div>




<div class="box">
  <div class="item" *ngFor = "let estudiante of estudiantes">

<ul>
  <li>
    <a [routerLink]="['/estudiantes',estudiante.idStudent]">{{estudiante.nombre}}</a>
  </li>
</ul>


  </div>
  </div>

<!-- incrusta el componente de Formulario -->

<router-outlet></router-outlet>
