<div class="box">

<form class="item" #f="ngForm" (ngSubmit)="onGuardarEstudiante()">

<input type="text" name="name" placeholder="Nombre" [(ngModel)]="nombreInput" required />
<input type="text" name="ape1" placeholder="Apellido 1" [(ngModel)]="ape1Input" required />
<input type="text" name="ape2" placeholder="Apellido 2" [(ngModel)]="ape2Input" required />
<input type="text" name="direccion" placeholder="Direccion" [(ngModel)]="direccionInput" required />

<button type="submit" style="cursor:pointer">+</button>
<button *ngIf="idEstudiante != null" type="submit" style="cursor:pointer" class="buttonRed" (click)="onEliminarPersona()">-</button>

</form>


</div>
